<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div>

<h3>
  Maybe our <a href="childhood/index.html" class="yeet"><h1>dreams</a></h1> are corrupted
right from the start: the weight

of apples in the blossoms overhead.

Even the two thin reddish dogs
nosing down the aisles of crippled trees,
digging in the weak shade

thrown by the first flowerers,
snuffle in the blackened leaves
for the scent of a dead year.</h3>

<div class="gold"></div>
<div class="gold2"></div>



  </div>
</body>

</html>
